.background{
    background-color: #5e0087;
    height: 93%;
}

.card{
    background-color: transparent !important;
    color: #fff;
    border:none;
    margin-top: 35%;
}

.btn[type=submit]{
    border-radius: 50px;
}

.btn-link{
    color: #fff;
}

h1{
    color: #fff;
}